/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";

body {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.connect {
  margin-bottom: 1rem;

  a i {
    padding: 0px 6px;
  }
}

span.note {
  color: $small-font-color;
}